@model SchoolManagement.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentBirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentBirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentEnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEnrollmentDate)
        </dd>
    </dl>

    <table class="table table-condensed table-responsive">
        <tr>
            <th>Course Title</th>
            <th>Credits</th>
            <th>Grade</th>
        </tr>
        @foreach(var enrollment in Model.Enrollments)
            {
    <tr>
        <td>
            <p>
                @enrollment.Course.Title
            </p>
        </td>

        <td>
            <p>
                @enrollment.Course.Credits
            </p>
        </td>
        <td>
            <p>
                @enrollment.Grade
            </p>
        </td>
    </tr>
            }
     </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
